#--------------------------------
#Network interface cofiguration
#Ansible Managed
#--------------------------------
TYPE=Ethernet
BOOTPROTO={{ item['method']|lower }}
DEFROUTE={{ item['defroute']|default('yes') }}
IPV4_FAILURE_FATAL={{ item['ipv4_fail']|default('no')}}
NAME={{ item['name'] }}
DEVICE={{ item['name'] }}
ONBOOT={{ item['onboot']|default('yes') }}
{% if item['gateway'] is defined %}
GATEWAY={{ item['gateway'] }}
{% endif %}
{% if item['address'] is defined %}
IPADDR={{ item['address'] }}
{% endif %}
{% if item['netmask'] is defined %}
NETMASK={{ item['netmask'] }}
{% endif %}
PEERDNS={{ item['peerdns']|default('yes') }}